:root {
    --primary: #d81e5b;
    --secondary: #189ff9;
    --light: #eee;
    --dark: #131a26;
    --dark-alt: #142850;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-alt);
    color: var(--light);
}

.App {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    max-width: 700px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

.comment {
    padding: 16px;
    display: flex;
    margin-bottom: 36px;
    gap: 16px;
}

.comment .name {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}

.comment .email {
    color: #b9b9b9;
    font-size: 15px;
    margin-bottom: 5px;
    display: flex;
}

.comment .email div:last-of-type {
    margin-left: auto;
}

.comment .text {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
}

.profile-pic {
    max-height: 70px;
    max-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--secondary);
}
